.wrapper.content
  h1 = t 'equipe.title'
  = t 'equipe.intro'

  h2 = t 'equipe.squad.title'
  p = t 'equipe.squad.intro'
  .team.shuffle
    - t('equipe.menu-item').each do |id, equipe|
      .team-item
        = link_to equipe[:url], title: equipe[:title], target: "_blank"
          = image_tag "equipe/#{id}.jpg", width: "80px"
  
  p = t 'equipe.squad.contact'

  h2 = t 'equipe.press.title'
  p = t 'equipe.press.intro'
