*
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

html, body
  margin: 0
  padding: 0
  font: $font-text
  color: $color-text

body
  margin: 0
  padding: 0
  background: white

a
  color: $color-text
  text-decoration: none
  &:hover
    color: $color-brand

.wrapper
  max-width: 840px
  margin: 0 auto
  position: relative

header
  text-align: center
  h1
    color: #1F8DED
    strong
      color: #E6515A
