.wrapper.content
  h1 La page demandée n'est malheureusement pas disponible 🔍
  p Désolé, Sorry, Scusa, Sentimos, Undskyld, 申し訳ありません, la page que vous cherchez n’existe plus ou pas et vice et versa
  = image_tag "404.gif"
